.app-shell {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: stretch;
  overflow: hidden;
}

.sidebar {
  flex-shrink: 0;
  width: 170px;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  min-width: 0; /*Prevents from overflowing */
  height: 100vh;
  background: #faf9f7;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .app-shell {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}